 .header{
  width: fit-content;
  text-align: center;
  display: flex;
  background-color: #f7e799;

   
  
 }
 .btcolor{
  color: black;
 }
 
 #id1{
  width: 25px;
 }

 #pn{
  width: 60px;
 }
  
.header div{
  width: 100px;
  display: flex;
  border: 1px solid;
  text-align: center;
   
}
.employeeData{
  border: 1px solid black;
  width: fit-content;
  display:flex;
  background-color: #d5f799;
  
}

.employeeData div{
  width: 100px;
  border:1px solid;
  text-align: center;
   
}

 .bt{
  align-items:self-end;
 }
  .heading{
    color: rgb(228, 6, 125);
     
  }
 

 body {
  border: 100px;
  background-color: #e3e8eb;
  text-align: center;
 }
 .student_output{
  text-align: left;

 }

 

spacing on all sections 
#about, #services, #portfolio, #contact {
  margin-top: 2rem;
  padding-top: 4rem;
}
#contact {
  padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
  width: 100%;
}

#footer {
  background-color: #808080;
  text-align: center;
}

 
.box{
  display: inline-block;
  flex-wrap: wrap;
  width: 100px;
  
}
 

 
 
 
 

 
  
 
 
   